anyio==3.4.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.15.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1641584610847/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
contextvars==2.4
coverage==6.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1634230548203/work
cycler==0.11.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator==4.4.2
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.3
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147211348/work
googledrivedownloader @ file:///home/conda/feedstock_root/build_artifacts/googledrivedownloader_1619807768586/work
-e git+ssh://git@github.com/HakyungKwon-TRI/htp_md.git@cf7ff9db0f689f8df0d16786f515a5c26ba7ca5c#egg=htpmd
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
iniconfig==1.1.1
ipykernel==5.5.6
ipython==7.16.2
ipython-genutils==0.2.0
isodate==0.6.1
jedi==0.17.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.13.1
jupyterlab==3.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.1
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455726881/work
matplotlib==3.3.4
mdtraj==1.9.7
mistune==0.8.4
monty==2021.12.1
mordred==1.2.0
mpmath==1.2.1
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.5.1
notebook==6.4.6
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1626681957552/work
packaging==21.3
palettable==3.3.0
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.5.0
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
py==1.11.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.11.2
pymatgen==2021.2.8.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent==0.18.0
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291492528/work
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1609125227889/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==6.0
pyzmq==22.3.0
rdflib==5.0.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1630910588640/work
scipy==1.5.4
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.2.0
spglib==1.16.3
sympy==1.9
tabulate==0.8.9
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml==0.10.2
tomli==1.2.3
torch==1.8.1
torch-cluster @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-cluster_1631019506272/work
torch-geometric @ file:///usr/local/miniconda/envs/test/conda-bld/pyg_1631775013783/work
torch-scatter @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-scatter_1631015153358/work
torch-sparse @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-sparse_1631173063121/work
torch-spline-conv @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-spline-conv_1631007436516/work
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets==4.3.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
uncertainties==3.1.6
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
yacs==0.1.8
zipp==3.6.0
