# Requirements for running tests
pytest==6.2.2
pytest-cov==2.11.1
flake8==3.8.4
pydocstyle==5.1.1
pycodestyle==2.6.0
coveralls==2.1.2
torch
torch-geometric
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv